.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  text-align: left;
}
nav span {
  margin-right: 12px;
}
section {
  height: 500px;
  background-color: lightcoral;
}

.fadeIn {
  /* animation: 0.3s fadeIn forwards; */
  animation: 0.3s fadeIn;
}

.fadeOut {
  /* animation: 0.3s fadeOut forwards; */
  animation: 0.3s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}
